dist/*
build/*
*.egg-info
*/__pycache__/*
log
logs
**/*.h5
**/*.tflite
*.pbtxt
*.pb
models
.idea/
stupid/tools/__pycache__/
stupid_android/custom_ops/.google/
stupid_android/custom_ops/.gradle/
stupid_android/custom_ops/.idea/
stupid_android/custom_ops/app/.cxx/
stupid_android/custom_ops/app/build/intermediates/
stupid_android/custom_ops/app/build/outputs/
stupid_android/custom_ops/app/build/tmp/
stupid_android/custom_ops/gen-libs/
stupid_android/styx_cc/.gradle/
stupid_android/styx_cc/.idea/
stupid_android/styx_cc/app/.cxx/
stupid_android/styx_cc/app/build/
stupid_android/styx_cc/app/src/main/res/drawable/*.jpg
stupid_android/styx_cc/app/src/main/res/drawable/*.png
